Hartalega.FloorSystem.IntegrationServices/Service References/AXServices/AvaInterfaceServices2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AvaInterfaceServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_AxInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/dynamics/2008/01/services" location="http://hep-ax-qa.gmd.lab:8101/DynamicsAx/Services/AvaInterfaceServices?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_AxInterface" type="i0:AxInterface">
    <wsp:PolicyReference URI="#NetTcpBinding_AxInterface_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="createFGRAFJournal">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/createFGRAFJournal" style="document" />
      <wsdl:input name="AxInterfaceCreateFGRAFJournalRequest">
        <soap12:header message="i0:AxInterfaceCreateFGRAFJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceCreateFGRAFJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createInvMovJournal">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/createInvMovJournal" style="document" />
      <wsdl:input name="AxInterfaceCreateInvMovJournalRequest">
        <soap12:header message="i0:AxInterfaceCreateInvMovJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceCreateInvMovJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findOrCreate">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/findOrCreate" style="document" />
      <wsdl:input name="AxInterfaceFindOrCreateRequest">
        <soap12:header message="i0:AxInterfaceFindOrCreateRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceFindOrCreateResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRAFJournal">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/createRAFJournal" style="document" />
      <wsdl:input name="AxInterfaceCreateRAFJournalRequest">
        <soap12:header message="i0:AxInterfaceCreateRAFJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceCreateRAFJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createInvTransJournal">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/createInvTransJournal" style="document" />
      <wsdl:input name="AxInterfaceCreateInvTransJournalRequest">
        <soap12:header message="i0:AxInterfaceCreateInvTransJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceCreateInvTransJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createBOMJournal">
      <soap12:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/AxInterface/createBOMJournal" style="document" />
      <wsdl:input name="AxInterfaceCreateBOMJournalRequest">
        <soap12:header message="i0:AxInterfaceCreateBOMJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AxInterfaceCreateBOMJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvaInterfaceServices">
    <wsdl:port name="NetTcpBinding_AxInterface" binding="tns:NetTcpBinding_AxInterface">
      <soap12:address location="net.tcp://hep-ax-qa.gmd.lab:8201/DynamicsAx/Services/AvaInterfaceServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://hep-ax-qa.gmd.lab:8201/DynamicsAx/Services/AvaInterfaceServices</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>axaos@gmd.lab</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>