Hartalega.FloorSystem.IntegrationServices/Service References/AXServices/AvaInterfaceServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ngc-uat-aos:8101/DynamicsAx/Services/AvaInterfaceServices?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="AxInterfaceCreateFGRAFJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q1:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateFGRAFJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCheckCBDItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q2:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCheckCBDItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceFindOrCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q3:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceFindOrCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateBOMJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q4:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateBOMJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateInvMovJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q5:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateInvMovJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateRAFJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q6:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateRAFJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateInvTransJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_interfaceContract" nillable="true" type="q7:AvaInterfaceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxInterfaceCreateInvTransJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>