Hartalega.FloorSystem.IntegrationServices/Service References/AXService/ImportParentServiceGroup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ImportParentServiceCreateParentChildRecordRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_BatchCardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_BatchNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ItemNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pcsWeight" type="xs:int" />
        <xs:element minOccurs="0" name="_BatchWeight" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportParentServiceCreateParentChildRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>